.timeline-container {
  /* background-color: #357C3C1f; */
  padding-top: 2rem;
  min-height: 100vh;
}

.timeline-postsContainer--empty h1,
.timeline-postsContainer--empty h5 {
  color: #357c3c;
}

.timeline-content {
  width: 90%;
  margin: auto;
}

.profile-picture-timeline {
  border: 3px #357c3c solid;
  object-fit: cover;
  /* background-color: #357c3c; */
  color: white;
  cursor: pointer;
}

.timeline-profilePicture,
.profilepic-startpost-timeline > img {
  border: 4px #357c3c solid;
  color: white;
  object-fit: cover;
  background-color: #357c3c;
  cursor: pointer;
}

.timeline-emptyProfilePic {
  border: 5px #357c3c solid;
  width: fit-content;
  margin: auto;
  font-size: 3rem;
  border-radius: 50%;
  padding: 0.8rem;
  color: #357c3c;
  font-weight: 700;
  background-color: white;
  margin-bottom: 0.5rem;
}

.timeline-emptyProfilePic-medium {
  border: 4px #357c3c solid;
  width: fit-content;
  margin: auto;
  font-size: 1.87rem;
  border-radius: 50%;
  padding: 1rem;
  color: #357c3c;
  font-weight: 700;
  background-color: white;
  margin-bottom: 0.5rem;
}

.timeline-emptyProfilePic-small {
  border: 4px #357c3c solid;
  width: 30px;
  margin: auto;
  font-size: 1.87rem;
  border-radius: 50%;
  padding: 1rem;
  color: #357c3c;
  font-weight: 700;
  background-color: white;
  margin-bottom: 0.5rem;
}

/* rating */
:root {
  --star-size: 25px;
  --star-color: rgb(180, 175, 175);
  --star-background: #03045e;
}

.stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  /* font-family: Times; */
  line-height: 1;
}

.stars:before {
  content: "★★★★★";
  letter-spacing: 3px;
  background: linear-gradient(
    90deg,
    var(--star-background) var(--percent),
    var(--star-color) var(--percent)
  );
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* rating */

.timeline-dropdownItem {
  font-size: 0.8rem;
  cursor: pointer;
}

.timeline-dropdownItem:hover {
  background-color: #357c3c;
  color: white;
}

.postInputButton {
  width: 100%;
  background-color: #357c3c25;
  border-radius: 15px;
  border-color: #357c3c25;
}

.postInputButton:hover {
  background-color: #357c3c21 !important;
}

.postInputButton > .p-button-label {
  flex: none;
  color: #495057;
}

/* left panel */
.leftpanel-top-container-timeline {
  height: 127px;
  /* background-color: #689f38; */
}

.leftpanel-bottom-container-timeline {
  text-align: center;
  margin-top: -2.5rem;
}

.timeline-leftpanel-connection {
  padding: 1rem 0;
  border-top: 1px rgba(128, 128, 128, 0.432) solid;
  border-bottom: 1px rgba(128, 128, 128, 0.432) solid;
  display: flex;
  justify-content: center;
}

.timeline-leftpanel-connection h6 {
  font-size: 0.9rem;
}

.timeline-companyName {
  color: #357c3c;
  font-weight: 700;
}

.suggestion-button-timeline {
  color: #00000070;
  background: #357c3c00;
  border: 2px #00000070 solid;
  width: 2rem !important;
  height: 2rem;
}

.suggestion-button-timeline > .pi-plus {
  font-weight: 600;
  font-size: 0.85rem;
}

/* left panel */

.cardtitle-timeline {
  border-bottom: 1px solid #357c3c57;
  font-size: 1rem !important;
  padding: 0.7rem 1rem;
}

.cardsubtitle-timeline {
  font-size: 0.8rem !important;
  display: flex;
  justify-content: space-between;
}

.cardtitle-posts {
  /* font-size: 1.2rem !important; */
  font-weight: 500 !important;
}

.timeline-cardtitle-posttime {
  color: gray;
  display: flex;
  align-items: flex-end;
  font-size: 0.7rem !important;
}

.timeline-cardtitle-posttime > .pi-clock {
  padding-bottom: 0.05rem;
}

/* Recent Jobs sidepanel */
a .cardsubtitle-timeline {
  color: black;
}

.p-card-body-timeline {
  color: rgba(0, 0, 0, 0.616);
}

/* Recent Jobs sidepanel */

/* Recent Jobs sidepanel on hover */
.p-card-body-timeline:hover {
  background-color: #357c3c;
}

.p-card-body-timeline:hover > .jobDescription-timeline,
.p-card-body-timeline:hover > .cardsubtitle-timeline,
.p-card-body-timeline:hover .timeline-seemore {
  color: white;
}

/* Recent Jobs sidepanel on hover */
.timeline-seemore {
  color: #357c3c;
  font-weight: 600;
}

.poster-description {
  color: gray;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.jobDescription-timeline {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.616);
  overflow: hidden;
  max-height: 80px;
}

.skilltag-timeline {
  background-color: #357c3c3f;
  color: black;
  padding: 0.3rem 0.5rem;
  border-radius: 15px;
  font-weight: 600;
  margin: 0 10px 10px 0;
}

.likers-picture {
  margin-left: -23px;
}

.cardtitle-statusbar-timeline {
  position: relative;
  color: gray;
  display: flex;
  align-items: center;
  font-size: 0.8rem !important;
  justify-content: space-between;
  border-top: 1px rgba(128, 128, 128, 0.432) solid;
}

.post-statusbar-content {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.post-statusbar-content:hover {
  color: #6fcf97;
  transition: none;
}

.timeline-postShare-button {
  background-color: white;
  border: none;
  color: #357c3c;
  font-weight: 600;
}

.timeline-copyModalAlert {
  z-index: 1;
  position: absolute;
  background-color: #357c3c;
  right: -25px;
  top: 45px;
  padding: 7px;
  border-radius: 8px;
  color: white;
  opacity: 0;
}

.timeline-copyModalAlert--active {
  z-index: 1;
  position: absolute;
  background-color: #357c3c;
  right: -25px;
  top: 45px;
  padding: 7px;
  border-radius: 8px;
  color: white;
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
}

.timeline-postShare-button > .p-button-label:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Modals */
.viewerGroups-dropdown {
  margin-top: 0.5rem;
  background-color: #357c3c25;
  border-radius: 7px;
}

.viewerGroups-dropdown > .p-dropdown-label {
  font-size: 0.8rem !important;
  font-weight: 600;
  padding: 0.3rem 0.5rem;
}

.viewerGroups-dropdown > .p-dropdown-trigger > .p-dropdown-trigger-icon {
  font-size: 0.8rem;
  width: 1rem;
}

.timeline-profilepic-expanded {
  max-height: 20rem;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #357c3c;
}

.postInputArea:hover {
  border-color: transparent !important;
  box-shadow: none;
}

.createPostModal-title {
  font-size: 14px;
  font-weight: 600;
  color: #357c3c;
  margin-bottom: 0.25rem;
}

.postTitle-container {
  margin-top: 1rem;
  border: 1px solid #357c3c;
  width: fit-content;
}

.postInputArea {
  width: 100%;
  background-color: inherit;
  border-color: transparent;
}

.postInputArea:focus {
  box-shadow: none !important;
  border-color: transparent !important;
}

.postInputArea:focus-visible {
  outline: none;
}

.addToPost-icon {
  border: 3px solid #357c3c;
  border-radius: 100%;
  padding: 0.25rem;
  background-color: white;
  color: #357c3c;
  font-weight: 700;
  cursor: pointer;
}

.timelineModal-Input {
  background-color: #357c3c26;
  border: 1px solid #357c3c;
  border-radius: 10px;
}

.timelineModal-Input > .p-editor-container > .p-editor-toolbar {
  background-color: inherit;
}

/* text editor picker */
.TextEditor-actions-emoji-picker-timeline {
  display: none;
}

.TextEditor-actions-emoji-picker-timeline--open {
  display: block;
  position: absolute;
  top: 25px;
  right: -20px;
  z-index: 1;
}

.text-editor-timeline {
  position: relative;
}

.TextEditor-container-timeline .ql-snow.ql-toolbar button.ql-active .ql-stroke,
.p-editor-container .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.p-editor-container .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke {
  stroke: #6fcf97;
}

/* text editor picker */
#TextEditor-actions-emoji-button {
  cursor: pointer;
  vertical-align: sub;
  float: left;
}

.timelineMediaItem-container {
  background-color: #357c3c;
  border-radius: 10px;
  height: 10rem;
  display: flex;
  align-items: center;
  position: relative;
}

.timeline-postMediaItem-actionButton {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: green !important;
  border: none;
}

.timeline-postForm-actionDropdown .pi-trash {
  color: red !important;
}

.timelineMediaItem {
  height: 9rem;
  width: 100%;
  object-fit: contain;
}

.timeline-postImage {
  object-fit: contain;
  height: 17rem;
  /* background-color: #357c3c; */
  cursor: pointer;
}

/* Modals */

@media screen and (max-width: 1200px) {
  .timeline-content {
    width: 94%;
  }
}

@media screen and (max-width: 800px) {
  .profile-picture-timeline {
    width: 50px;
    margin-right: 0.5rem !important;
    height: 50px;
  }

  .timeline-emptyProfilePic-small {
    font-size: 2rem;
    padding: 1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1168px) {
  .profilepic-startpost-timeline > i {
    font-size: 20px;
  }

  .profilepic-startpost-timeline > img {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (max-width: 550px) {
  .profilepic-startpost-timeline > img {
    width: 50px;
    height: 50px;
  }

  .timeline-emptyProfilePic-small {
    font-size: 1.2rem;
    padding: 0.8rem;
  }
}

@media only screen and (max-width: 1190px) {
  .dialogModal-timeline .p-dialog-content {
    padding: 0 0.5rem 1.5rem 0.5rem;
  }
}

@media only screen and (max-width: 803px) {
  .TextEditor-actions-emoji-picker-timeline--open {
    top: 50px;
    left: 15px;
  }
}

@media only screen and (max-width: 456px) {
  .TextEditor-actions-emoji-picker-timeline--open {
    top: 75px;
    left: -15px;
  }

  .TextEditor-actions-emoji-picker-timeline--open > .emoji-mart {
    width: 300px !important;
  }
}
