.green-color{
  color: var(--app-secondary-color);
}

.green-back{
  background: var(--app-secondary-color) !important;
}

.job-category .single-cat i {
  background:  var(--app-primary-color);
  color: #f8f9fa;
}

.navbar-brand img {
  width: 200px;
}


.card-max-size-list {
  width: 78vw;
  margin: auto;
  padding: 18px;
}
.search-result-content-container {
  padding-top: 30px;
}